ATLANTIS_ENV_ARGS="-e ATLANTIS_CONFIG=/etc/atlantis/atlantis-config.yaml -e TF_PLUGIN_CACHE_DIR=/var/lib/atlantis/plugin-cache"
ATLANTIS_DOCKER_ARGS="--net=host --privileged -v /var/lib/atlantis:/var/lib/atlantis -v /etc/atlantis:/etc/atlantis {{ atlantis_image }}:{{ atlantis_version }}"