repos:
- id: /.*/
  apply_requirements:
  - approved
  - mergeable
  allow_custom_workflows: false
  workflow: terragrunt

workflows:
  terragrunt:
    plan:
      steps:
      - run: |
          cat > terraform.tf <<EOF
          provider "aws" {
            version = "~> 2.0"
            region  = "ap-southeast-1"
          }
          terraform {
            backend "s3" {}
          }
          EOF
      - run: terragrunt plan -no-color -out=$PLANFILE
    apply:
      steps:
      - run: terragrunt apply -no-color $PLANFILE