repos:
- id: /.*/
  apply_requirements:
    - approved
    - mergeable
  workflow: terragrunt
  allowed_overrides:
  allow_custom_workflows: false
workflows:
  terragrunt:
    plan:
      steps:
      - env:
          name: TERRAGRUNT_TFPATH
          command: 'echo "terraform${ATLANTIS_TERRAFORM_VERSION}"'
      - run: |
          cat > terraform.tf <<EOF
          provider "aws" {
            version = "~> 2.0"
            region  = "ap-southeast-1"
          }
          terraform {
            backend "s3" {}
          }
          EOF
      - run: terragrunt plan-all -no-color -out=$PLANFILE
    apply:
      steps:
      - env:
          name: TERRAGRUNT_TFPATH
          command: 'echo "terraform${ATLANTIS_TERRAFORM_VERSION}"'
      - run: terragrunt apply-all -no-color $PLANFILE